SECRET_KEY = 'TALLER_SECRET_KEY_2026/*/&^%$#@!~'
USER = 'root'
PASSWORD = ''
IP = '127.0.0.1'
PORT = '3306'
DB = 'taller_mecanico'
APP_NAME = 'Sistema de Gestion - Taller Mecanico'
APP_URL = 'http://localhost/Taller'
APP_DEBUG = true
